/* Estilos de cese_esp_pdf.php */
<style type="text/css">
*{
	margin-top: 0px;
	padding: 20px;
	font-family: Arial, Verdana, sans-serif;

}
div{
	text-align: left;
}
#fecha,#titulo{
	text-align: right;
}
#firma{
	text-align: center;
}
p{
	text-align:  justify;
}
/* Programador: Rolando Picón Nadales - © Todos los derechos reservados 2019 */
</style>

		